.app {
    text-align: center;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9b5cc4;
}

.app-header h1 {
    font-weight: 500;
}
